/*  
Project Name: Ripple Effect
Description: Click anywhere you want to see the ripple effect. Give me a thumbs-up, If you like it. Enjoy!
Author: Abdul Samad
Author URI: https://getabdulsamad.com/
Tags: Mobile-friendly, All-Devices-Supported. 
*/

@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@400;500;600;700&display=swap');

:root {
  --primary-color: #2f2b36;
  --secondary-color: #edeade;
  --tertiary-color: #2874a6;
  --shadow: 0 1px 3px rgb(0 0 0 / 12%), 0 1px 2px rgb(0 0 0 / 24%);
  --transition-ease: 0.6s ease;
  --transition-ease-out: 0.6s ease-out;
  --transition-ease-in-out: 0.6s ease-in-out;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
}

body {
  font-family: 'Barlow', sans-serif;
  background-color: var(--primary-color);
  color: var(--secondary-color);
  margin: 0;
  padding: 0 20px;
  text-align: center;
  font-size: 18px;
  height: 100vh;
  line-height: 1.6;
  overflow: hidden;
  position: relative;
  cursor: default;
  letter-spacing: 0.3px;
  -webkit-transition: color 0.6s ease-in-out;
  -moz-transition: color 0.6s ease-in-out;
  transition: color 0.6s ease-in-out;
  -webkit-transition: background var(--transition-ease-in-out);
  -moz-transition: background var(--transition-ease-in-out);
  -o-transition: background var(--transition-ease-in-out);
  transition: background var(--transition-ease-in-out);
}

p {
  margin: 0;
}

.container {
  display: -webkit-flex;
  display: -moz-flex;
  display: flex;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  align-items: center;
  width: 500px;
  max-width: 100%;
  height: 100vh;
  margin: 0 auto;
}

.separator {
  background-color: var(--tertiary-color);
  color: var(--secondary-color);
  font-weight: 500;
  font-size: 16px;
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  border-radius: 100px;
  margin: 20px 0 10px 0;
}

.btn {
  background-color: var(--tertiary-color);
  color: var(--secondary-color);
  -webkit-box-shadow: var(--shadow);
  -moz-box-shadow: var(--shadow);
  box-shadow: var(--shadow);
  border: 0;
  padding: 12px 26px;
  font-size: 24px;
  border-radius: 3px;
  position: relative;
  overflow: hidden;
  -webkit-transition: background var(--transition-ease);
  -moz-transition: background var(--transition-ease);
  -o-transition: background var(--transition-ease);
  transition: background var(--transition-ease);
}

.btn:active {
  -webkit-transform: scale(0.98);
  -moz-transform: scale(0.98);
  transform: scale(0.98);
}

.btn:focus {
  outline: none;
}

.btn .circle {
  position: absolute;
  background-color: var(--secondary-color);
  width: 100px;
  height: 100px;
  border-radius: 50%;
  -webkit-transform: translate(-50%, -50%) scale(0);
  -moz-transform: translate(-50%, -50%) scale(0);
  transform: translate(-50%, -50%) scale(0);
  -webkit-animation: scale var(--transition-ease-out);
  -moz-animation: scale var(--transition-ease-out);
  animation: scale var(--transition-ease-out);
}

.body-circle {
  position: absolute;
  background-color: var(--secondary-color);
  width: 100px;
  height: 100px;
  border-radius: 50%;
  -webkit-transform: translate(-50%, -50%) scale(0);
  -moz-transform: translate(-50%, -50%) scale(0);
  transform: translate(-50%, -50%) scale(0);
  -webkit-animation: scale var(--transition-ease-out);
  -moz-animation: scale var(--transition-ease-out);
  animation: scale var(--transition-ease-out);
}

@keyframes scale {
  to {
    -webkit-transform: translate(-50%, -50%) scale(3);
    -moz-transform: translate(-50%, -50%) scale(3);
    transform: translate(-50%, -50%) scale(3);
    opacity: 0;
  }
}
